.gpt3_header {
  display: flex;
}

.gpt3_header-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;

  margin-right: 5rem;
}

.gpt3_header-content h1 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 62px;
  line-height: 75px;
  letter-spacing: -0.04em;
}

.gpt3_header-content p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 27px; 
  color: var(--color-text);

  margin-top: 1.5rem;
}

.gpt3_header-content_input {
    width: 100%;
    margin: 2rem 0 1rem;

    display: flex;
}

.gpt3_header-content_input input {
    flex: 2;
    width: 100%;
    min-height: 50px;
    font-family: var(--font-family);
    background-color: var(--color-footer);
    border: 2px solid var(--color-footer);
    border-radius: 5px 0px 0px 5px;
    padding: 0 1rem;
    outline: none;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 27px;
    color: #fff;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.gpt3_header-content_input button{
    flex: 0.6;
    width: 100%; 
    min-height: 50px;
    background: #FF4820;
     font-family: var(--font-family);
    font-style: normal;
    font-weight: bold;  
    font-size: 20px;
    line-height: 27px;
    color: #FFFFFF;
    cursor: pointer;
    outline: none;
    padding: 0 1rem;

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}